# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*/_targets/*
*.Rproj
*/_targets/
*/scratch.R

#Python
*/.ipynb_checkpoints/

.DS_Store

# Large files
*.ai
*.gif
*.psd
*.nc
*.svg
*.csv

# Subdirectory specific files
# ADD AS USERS SUBMIT CODE IN SUBDIRECTORIES
*/in/*
*.html

# Spatial
*.cpg
*.dbf
*.fix
*.prj
*.shp
*.shx
