# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*/_targets/*
*.Rproj
*/_targets/
*/scratch.R

.DS_Store

# Large files
*.ai
*.gif
*.psd
*.nc

# Subdirectory specific files
# ADD AS USERS SUBMIT CODE IN SUBDIRECTORIES
*/in/*
*/out/*
*.html

# Spatial
*.cpg
*.dbf
*.fix
*.prj
*.shp
*.shx
