# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*/_targets/*
*.Rproj
*/_targets/
*/scratch.R

#Python
*/.ipynb_checkpoints/

.DS_Store

# Large files
*.ai

*.psd
*.nc

# Subdirectory specific files
# ADD AS USERS SUBMIT CODE IN SUBDIRECTORIES
*/in/*
*/out/*
*.html
!07_hazards_conlon_colgin/in/*
!22_green-energy_ancarr/in/*
!17_networks_hcorson-dosch/in/stream_order.png
!19_anthropocene_candrews/out/*
!19_anthropocene_candrews/in/*
!25_global-change_knuessly/in/state_long.csv
!25_global-change_knuessly/out/Grassland_Biome_Loss_20230424.png


# allow empty files to be committed
!*/in/.empty
!*/out/.empty

# Spatial
*.cpg
*.dbf
*.fix
*.prj
*.shp
*.shx

# 28_trend_padilla
28_trend_padilla/data
!28_trend_padilla/data/in/.empty
